<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/finance/fd">FD Calculator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/finance/rd">RD Calculator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/finance/ppf">PPF Calculator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/finance/home-loan">Home Loan Calculator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/finance/home-loan-part-payment">HL Part Payment Calculator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/finance/gratuity">Gratuity Calculator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/finance/salary">Salary Calculator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/finance/stock">Stock Brokarage</a>
  </li>
</ul>

<router-outlet></router-outlet>