<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" name="fdForm" class="form-horizontal" (ngSubmit)="f.form.valid && onSubmit()">
      <div class="card">
        <div class="card-header">FD Calculator</div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-small">Principal</label>
            <div class="col-sm-6">
              <input type="number" name="p" class="form-control" [(ngModel)]="model.p" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-normal">Interest (in %)</label>
            <div class="col-sm-6">
              <input type="number" name="r" class="form-control" [(ngModel)]="model.r" />
              <select name="n" [(ngModel)]="model.n">
                <option value="4">Quarterly</option>
                <option value="2">Halfyearly</option>
                <option value="1">Yearly</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-large">Period</label>
            <div class="col-sm-6">
              <input type="number" name="t" class="form-control" [(ngModel)]="model.t" />
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i> Calculate</button>
          <button type="reset" class="btn btn-sm btn-danger">
            <i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Maturaty Amount: {{ amount }}
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  </div>
</div>