<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <th>S.No</th><th>EMI</th><th>Interest Per Month</th><th>Total Interest</th><th>Total Payable</th>
        <th>Loan Amount</th><th>Loan Tenure</th><th>Loan ROI</th>
      </thead>
      <tbody>
        <tr *ngFor="let entry of comperasions">
          <td>{{entry.emi}}</td>
          <td>{{entry.emi}}</td>
          <td>{{entry.interestPerMonth}}</td>
          <td>{{entry.totalInterest}}</td>
          <td>{{entry.totalPayable}}</td>
          <td>{{entry.loan.amount}}</td>
          <td>{{entry.loan.tenure}}</td>
          <td>{{entry.loan.roi}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" name="homeLoanForm" class="form-horizontal" (ngSubmit)="f.form.valid && onSubmit()">
      <div class="card">
        <div class="card-header">Property Details</div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-small">Property Value</label>
            <div class="col-sm-6">
              <input type="number" name="property.cost" class="form-control" [(ngModel)]="property.cost" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-small">Registration Charges</label>
            <div class="col-sm-6">
              <input type="number" name="property.registration" class="form-control" [(ngModel)]="property.registration" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-small">Rent Paying Per Month</label>
            <div class="col-sm-6">
              <input type="number" name="rent.perMonth" class="form-control" [(ngModel)]="rent.perMonth" />
            </div>
          </div>

        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i> Calculate
          </button>
          <button type="reset" class="btn btn-sm btn-danger">
            <i class="fa fa-ban"></i> Reset
          </button>
          <button type="button" class="btn btn-sm" (click)="addToCompare()">
              <i class="fa fa-ban"></i> Add to Compare
            </button>
        </div>
      </div>


    </form>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Loan Details</div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="input-small">Down Payment</label>
          <div class="col-sm-6">
            <input type="number" name="model.loan.downPayment" class="form-control" [(ngModel)]="model.loan.downPayment" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="input-normal">Loan Amount</label>
          <div class="col-sm-6">
            <input type="number" name="model.loan.amount" class="form-control" [(ngModel)]="model.loan.amount" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="input-normal">Tenure</label>
          <div class="col-sm-6">
            <input type="number" name="model.loan.tenure" class="form-control" [(ngModel)]="model.loan.tenure" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="input-normal">ROI</label>
          <div class="col-sm-6">
            <input type="number" name="model.loan.roi" class="form-control" [(ngModel)]="model.loan.roi" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="chart-wrapper">
      <canvas id="myChart" class="chart"></canvas>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <span>EMI: {{model.loan.emi}}</span>
    <span>Interest Per Month: {{model.loan.interest / model.loan.tenure}}</span>
    <span>Total Interest: {{model.loan.interest}}</span>
    <span>Total Payble: {{model.loan.amount + model.loan.interest}}</span>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>S.No</th>
          <th>Date</th>
          <th>EMI</th>
          <th>Principal</th>
          <th>Interest</th>
          <th>Tax Saved</th>
          <th>Rent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of model.groupByFY">
          <td>{{v.no}}</td>
          <td>{{v.label}}</td>
          <td>{{model.loan.emi}}</td>
          <td>{{v.principal}}</td>
          <td>{{v.interest}}</td>
          <td>{{v.taxSaved}}</td>
          <td>{{v.rent}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>